<div id="modal_signup" class="modal">
  <div class="modal-content">
    <h5>Cadastre-se</h5>
    <div class="notifications-panel"></div>

    <%= form_for User.new, remote: true do |f| %>

      <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="input-field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="input-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="input-field">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, value: Date.today %>
      </div>

      <div class="input-field">
        <%= f.submit 'Sign up!', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>